<div class="container">
  <ul class="list-unstyled">
    <% @restaurants.each do |restaurant| %>
      <br>
      <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </li>
    <% end %>
  </ul>
</div>
