<div class="container">
  <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, as: :radio_buttons, collection: ['0', '1', '2', '3', '4', '5'], class: "form-check form-check-inline" %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
